<div class="card m-5">
  <div class="card-body">



      <h1 class="form-signin-heading">Your profile Tasks</h1>

      <div class="form-horizontal">
        <div class="form-group">
          <p class="form-control-static">
            <fa name="user"></fa>
              {{ details?.name }} -
            <fa name="envelope"></fa>
            {{ details?.email }}
          </p>
          <p class="form-control-static"></p>
        </div>
      </div>


      <app-minings></app-minings>
      <br>
      <app-tasks></app-tasks>


  </div>
</div>
